# ide
.settings
.buildpath
.project
.idea
*.log
*.pid
*.tmp
.vscode
dummy.php
conf/*_dev.php
.DS_Store
*.bak
# composer
vendor/
composer.lock
# wulaphp
test.php
.env
tmp/
logs/
extensions/
storage/mysql/
docker-compose.yml