# ide
.settings
.buildpath
.project
.idea
*.log
.vscode
dummy.php
conf/*_dev.php
.DS_Store
*.bak
# composer
vendor/
composer.lock
tmp/
# wulaphp
test.php
install.lock
.env
extensions/wula/
wwwroot/modules/core/
wwwroot/modules/dashboard/