<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./tests/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         stopOnFailure="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false">

    <testsuites>
        <testsuite name="wula Test Suite">
            <directory suffix="Test.php">tests/mvc</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>legacy</group>
        </exclude>
    </groups>
</phpunit>